pandas
scipy
-e git+https://github.com/hgrecco/pint-pandas#egg=pint-pandas
quilt
dash
dash-html-components
dash-core-components
dash-table
dash-daq
dash-bootstrap-components
Flask-Caching
Flask-Session
Flask-Babel
gunicorn
ring
matplotlib
